.PRODUCT-PAGE {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.PRODUCT-PAGE .div {
    background-color: #fff;
    border: 1px solid;
    border-color: #000;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.PRODUCT-PAGE .screenshot {
    height: 405px;
    left: 491px;
    object-fit: cover;
    position: absolute;
    top: 241px;
    width: 279px;
}

.PRODUCT-PAGE .text {
    height: 255px;
    left: 407px;
    position: absolute;
    top: 679px;
    width: 510px;
}

.PRODUCT-PAGE .text-wrapper {
    color: #000;
    font-family: "Inter-Light", Helvetica;
    font-size: 40px;
    font-weight: 300;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.PRODUCT-PAGE .ingredients-chili {
    color: #000;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 124px;
    width: 504px;
}

.PRODUCT-PAGE .span {
    font-weight: 300;
}

.PRODUCT-PAGE .text-wrapper-3 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    text-decoration: underline;
}

.PRODUCT-PAGE .CHECKOUT {
    height: 278px;
    left: 1080px;
    position: absolute;
    top: 401px;
    width: 634px;
}

.PRODUCT-PAGE .overlap {
    background-color: #fff;
    border: 1px solid;
    border-color: #000;
    border-radius: 19px;
    box-shadow: 0px 4px 4px #00000040;
    height: 278px;
    position: relative;
    width: 630px;
}

.PRODUCT-PAGE .fire {
    height: 49px;
    left: 176px;
    object-fit: cover;
    position: absolute;
    top: 65px;
    width: 50px;
}

.PRODUCT-PAGE .text-wrapper-4 {
    color: #000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400px;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 126px;
    white-space: nowrap;
}

.PRODUCT-PAGE .icons-fire {
    height: 49px;
    left: 126px;
    object-fit: cover;
    position: absolute;
    top: 65px;
    width: 50px;
}

.PRODUCT-PAGE .img {
    height: 49px;
    left: 76px;
    object-fit: cover;
    
}

 